    <%- include('header' , {title:"MainPage", hClass:"", cssFiles:["main.css"]}) %>
    <div id="container">
        <div class="mainContainer">메인페이지 중간영역</div>
    </div>
    <%- include('footer', {jsFiles:["main.js", "main2.js"]}) %> 