#header {
  display: flex;
  justify-content: center;
  background-color: #BCF;
}
#header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 50px;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb > li {
  margin: 0 20px;
}
#header.sub {
  background-color: #CFB;
}
#header.sub .center .gnb > li > a {
  color: #0C0;
}

#container .mainContainer {
  height: 500px;
  background-color: #FBC;
}